.slidebar-container
{
    background-color:  #E0E5E5 ;
    width: 250px;
    height: 1000px;
    justify-content: center;
    text-align: center;
    position:fixed;
}
.add-items{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    
}
.add-items button{
    display: flex;
    gap: 10px;
    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 180px;
    cursor: pointer;
    padding:10px;
}
.add-items Link{
    text-decoration: none;
}
.add-items button:hover{
    background-color: white;
}
.add-items .active{
 background-color:lightgreen;
}