.template-container
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    margin-left: max(20vw,25px);
    margin-top: 50px;
}
.top{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.top button{
    padding: 10px;
    width: 100px;
    border-radius: 7px;
}
.add-temp-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.add-temp-container input{
    width: 250px;
    padding: 10px;
}
.upload-containr img{
    width: 320px;
    height: 130px;
}
.add-temp-container  button{
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    background-color: cadetblue;
    color: white;
    border: none;
}
.view-container{
    display: flex;
    flex-direction: column;
}
.view-titles{
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
}
.table{
    margin-top: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr 4fr;
}
.table img{
    width: 100px;
}
.table button{
    width: 80px;
    padding: 5px;
    height: 30px;
    border-radius: 10px;
    border: none;
}
.edit{
    background-color: green;
    color: white;
}
.remove{
    background-color: tomato;
    color: white;
}